<h1>Albums</h1>


<% @albums.each do |album| %>
<section class="albums">
    <h4><%= album.title %></h4>
    <nav>
      <ul>
        <li><%= link_to 'Show', profile_album_path(album.profile.id, album.id) %></li>
        <% if can? :update, album %>
        <li><%= link_to 'Edit', edit_profile_album_path(album.profile.id, album.id) %></li>
        <% end %>
      </ul>
    </nav>
<% end %>
</section>

<br />
<nav>
  <ul>
    <li><%= link_to 'New Album', new_profile_album_path %></li>
  </ul>
</nav>