<html>
<head>
  <title>Home</title>
</head>
<body>
  <header class="homeheader">Home</header>
  <main class="homemain">
    <p>This is where the posts go</p>
    <p><%= yield %></p>
  </main>

  <aside class="homeaside">This is where the highest rated songs go</aside>

  <footer class="homefooter">This is where latest news/articles go</footer>

</body>
</html>
