<h1>Welcome!</h1>
<p>Welcome to Plugged-In. Now that you have created your own profile you can upload your own songs so that other members can plug in and listen to your music. You can comment on all artists songs to give them feedback.</p>