* {
  box-sizing: border-box;
}

body{
background-color: lightblue;

}


header {
    font-size: 30px;
    background: rgba(255,255,255,0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.landing {
  background: rgba(255,255,255,0.4);
  margin-left: 250px;
  margin-top: 200px;
  width: 940px;
  padding: 20px;
  font-size: 20px;
  text-align: center;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  width: 20.66667%;
  margin: 0;
  margin-right: 10px;
  border: dotted black;
  padding: 0;
}
nav a {
  font-family: 'Grand Hotel', cursive;
  color: #FF4D4D;
  display: block;
  font-size: 1.25em;
  background: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  }

  a:hover {
    color: orange;
  }

  .homeaside {
  display: inline-block;
  width: 180px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  float: right;
  font-family: 'Josefin Slab', serif;
}

.homemain {
  background: rgba(255,255,255,0.6);

  width: 740px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: 'Josefin Slab', serif;
}